@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*{
  font-family: 'Barlow Condensed', sans-serif;
}
body{
  padding: 0;
  margin: 0;
  
}
.bg
{
  background: #00336e;
}
.waktu
{
  width: 133px;
  background: #007df7;
  font-weight: bold;
}
.waktu > span
{
  position: relative;
}
.dot
{
  opacity: 1;
  animation: dot 1s linear infinite;
}
@keyframes dot
{
  from
  {
    color: #ff003f;
    opacity: 1;
  }
  to
  {
    color: White;
    opacity: 0;
  }
}
.head
{
  background: rgb(0,124,255);
}
.j
{
  font-family: 'Itim', cursive;
  
}
.judul
{
  font-size: 22px;
  text-transform: capitalize;
}
#kota
{
  text-transform: capitalize;
}
.jw
{
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.ovr
{

  overflow-x: scroll;
}
.btn-info
{
  width: 100px;
  margin-bottom: 5px;
}
.z
{
  flex-direction: row;
}
.analog
{
  width: 200px;
  height: 200px;
  background: rgba(0,0,0,0.2);
  border-radius: 50%;
  background-image: url("/jam.png");
  background-size: cover;
}
.mnt,.jrmjm,.jrmmn
{
  width: 100%;
  height: 100%;
}
.jmm,.mnn
{
  width: 190px;
  height: 190px;
}
.jdl
{
  width: 200px;
  border-radius: 2px;
}
.jam
{
  width: 100%;
  height: 50%;
}

.card
{
  width: 100%;
  display: flex;
}
.angka
{
  width: 170px;
  height: 170px;
  
}
.badge
{
  font-size: 50px;
}
.mundur
{
}
#countdown
{
  font-weight: bold;
  font-size: 20px;
}
#wait
{
  text-transform: capitalize;
}
#tanggal
{
  font-weight: bold;
}